*{box-sizing: border-box;
margin: 0;
padding: 0;}

.header{
    background-color: black;
    color: rgb(249, 116, 8);
}

.header:hover{
    background-color: rgb(255, 111, 0);
    color: rgb(0, 0, 0);
}

.header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}